<div fxLayout="column" class="components-container-gt-xs" [ngClass.xs]="'components-container-xs'" fxLayoutGap="20px">
    <div fxFlex class="table-component-holder mat-elevation-z4">
        <mat-toolbar class="table-header mat-primary">
            <h1 class="mat-headline center-align">Choose Chart for </h1>

            <mat-select [(value)]="selectedChart">
                <mat-option [value]="row.name" (click)="changeChart(row.value)"
                            *ngFor="let row of chartArray">{{row.name}}</mat-option>
            </mat-select>
        </mat-toolbar>

        <div class="table-container example-container mat-elevation-z8">
            <ngx-charts-area-chart id='seriesChart' [view]="viewDimention" [scheme]="colorScheme" [results]="chartData"
                                   [gradient]="false" [xAxis]="true"
                                   [autoScale]="true" [timeline]="true" [yAxis]="true" [xAxisLabel]="xAxisLabel"
                                   [yAxisLabel]="yAxisLabel"
                                   [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true">
            </ngx-charts-area-chart>
        </div>
    </div>
</div>
