@import '../../theme/theme';

.table-container {
  position: relative;
  //margin-top:50px;
}

.table-container .mat-table {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.table-container .mat-table .mat-header-row {
  position: absolute;
  top: -50px;
  left: 0;
  right: 18px;
  background: #fff;
}

.table-header {
  //background-color: $primary-btn;
  color: white;
  padding: 0 5px;
  width: 100%;
}

.table-container {
  //padding: 5px 15px 15px 15px;
}

.table-component-holder {
  border: 1px solid #327ebd;
  background-color: white;
}

.mat-cell cdk-column-bookID mat-column-bookID ng-tns-c23-3 ng-star-inserted {
  width: 80px;
  max-width: 80px;
  min-width: 80px;
}

mat-icon {
  cursor: pointer;
}


.mat-table {
  display: block;
  font-family: Tahoma, Verdana;
}

.mat-row,
.mat-header-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  min-height: 48px;
  padding: 0 24px;
}

.mat-cell,
.mat-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
}

.back-btn {
  float:right; margin-left: 200px;
}

mat-select {
  width: 200px;
  margin: 5px;
}