<div fxLayout="column" class="components-container-gt-xs" [ngClass.xs]="'components-container-xs'" fxLayoutGap="20px">
    <div fxFlex class="table-component-holder mat-elevation-z4">
        <mat-toolbar class="table-header mat-primary">
            <h1 class="mat-headline center-align">Bank Account Details</h1>
        </mat-toolbar>

            <div class="example-header"  style="padding: 0 20px;">
                <mat-form-field floatPlaceholder="never" style="color: black; width: 90%;">
                    <input matInput label="Filter" #filter placeholder="Filter Data...">
                </mat-form-field>
            </div>

            <div class="table-container example-container mat-elevation-z8">
                <mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
                    <ng-container matColumnDef="Account_No">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Account No</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.Account_No}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Date">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.Date}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Transaction_Details">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Details</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.Transaction_Details}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Value_Date">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Value Date</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.Value_Date}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Withdrawal_AMT">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Withdrawal AMT</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.Withdrawal_AMT}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Deposit_AMT">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Deposit AMT</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.Deposit_AMT}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Balance_AMT">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Balance AMT</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.Balance_AMT}}</mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="headerNames,sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: headerNames;"></mat-row>
                </mat-table>
                <mat-paginator #paginator
                               [length]="columnsToDisplay?.length"
                               [pageIndex]="0"
                               [pageSize]="10"
                               [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </div>
    </div>
</div>


